@model List<Order>

@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ngày mua hàng</th>
                    <th>Ngày ship hàng</th>
                    <th>Trạng thái</th>
                    <th>Tổng tiền</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a class="account-order-id" href="javascript:void(0)">#@item.OrderId</a></td>
                        <td>@item.OrderDate?.ToString("dd/MM/yyyy")</td>
                        <td>@item.ShipDate?.ToString("dd/MM/yyyy")</td>
                        <td>@item.TracsactStatus.Status</td>
                        <td>@item.TotalMoney.Value.ToString("#,##0") VNĐ</td>
                        <td>
                            <a href="javascript:void(0)" class="xemdonhang" data-madonhang="@item.OrderId">Xem đơn hàng</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="records_table"></div>
    </div>
}
else
{
    <p>Chưa có đơn hàng!</p>
}
