@model IEnumerable<TechShop.Models.Role>

@{
    ViewData["Title"] = "Danh sách quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<partial name="_Notifycation" />
<div class="row m-0">
    <div class="page-header float-left">
        <div class="page-title">
            <ol class="breadcrumb text-right">
                <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li class="active">Danh sách quyền truy cập</li>
            </ol>
        </div>
    </div>
</div>
<div class="card-body">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên</th>
                <th scope="col">Mô tả</th>
                <th scope="col">#</th>
                <a id="add-new-data" class="btn btn-primary float-right ml-2" asp-area="Admin" asp-controller="AdminRoles" asp-action="Create">Thêm mới</a>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.RoleId</th>
                        <td>@item.RoleName</td>
                        <td>@item.Description</td>
                        <td>
                            <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminRoles" asp-action="Details" asp-route-id="@item.RoleId">Xem</a>
                            <a class="btn btn-success" asp-area="Admin" asp-controller="AdminRoles" asp-action="Edit" asp-route-id="@item.RoleId">Sửa</a>
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="AdminRoles" asp-action="Delete" asp-route-id="@item.RoleId">Xóa</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
    </div>
</div>