@model TechShop.Models.Category

@{
    ViewData["Title"] = "Xóa danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row m-0">
    <div class="page-header float-left">
        <div class="page-title">
            <ol class="breadcrumb text-right">
                <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li><a asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Danh sách danh mục</a></li>
                <li class="active">Xóa danh mục</li>
            </ol>
        </div>
    </div>
</div>
<div class="card-body">
    <strong class="card-title">Xóa danh mục</strong>
    <table id="bootstrap-data-table" class="table">
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CatName)</td>
                <td>@Html.DisplayFor(model => model.CatName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Published)</td>
                <td>@Html.DisplayFor(model => model.Published)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Title)</td>
                <td>@Html.DisplayFor(model => model.Title)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Alias)</td>
                <td>@Html.DisplayFor(model => model.Alias)</td>
            </tr>
            <tr>
                <td>Xác nhận xóa</td>
                <td>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="CatId" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a asp-action="Index">Back to List</a>
</div>
